<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../public/style/all.min.css"/>
    <script type="text/javascript" src="../public/scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../public/scripts/jquery.tablesorter.js"></script>
    <meta http-equiv="Content-Type" content="../text/html; charset=UTF-8"/>

    <title>Books</title>
</head>
<body>
<div></div>
<form action="#" th:action="@{/bookRef/addBookRef}" th:object="${bookRef}" method="post">
    <label for="pageNumber">Page #</label>
    <input type="number" th:field="*{pageNumber}" id="pageNumber" placeholder="0"/>
    <label for="book">Book</label>
    <select id="book" class="form-control" th:field="*{{book}}">
        <option th:each="book : ${books}"
                th:value="${{book}}"
                th:selected="${book == books}"
                th:text="${book.name}">
        </option>
    </select>

    <input type="submit" value="save"/>
</form>
</body>
</html>