<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../public/style/all.min.css"/>
    <script type="text/javascript" src="../public/scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../public/scripts/jquery.tablesorter.js"></script>
    <meta http-equiv="Content-Type" content="../text/html; charset=UTF-8"/>
    <title>ARMORS</title>
</head>
<body style="overflow:scroll;">
<div class="container">
    <table style="background: #f5f5f5" id="myTable" class="tablesorter table table-striped  table-hover">
        <thead>
        <th>ID</th>
        <th>Armor Name</th>
        <th>Defense</th>
        <th>Soak</th>
        <th>Price</th>
        <th>Encumbrance</th>
        <th>Hard Points</th>
        <th>Rarity</th>
        <th>Is Restricted</th>
        <th>Book:INDEX</th>
        </thead>
        <!--/*@thymesVar id="armors" type="character.model.BookArmorEntity"*/-->
        <tbody>
        <tr th:each="armor : ${armors}">
            <td th:text="${armor.armorId}">1</td>
            <td th:text="${armor.armorName}">Name</td>
            <td th:text="${armor.defense}">0</td>
            <td th:text="${armor.soak}">0</td>
            <td th:text="${armor.price}">0</td>
            <td th:text="${armor.encum}">0</td>
            <td th:text="${armor.hp}">0</td>
            <td th:text="${armor.rarity}">0</td>
            <td th:text="${armor.restricted}">is restricted</td>
            <td th:text="${armor.bookIndex}">Book_INDEX</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<!--
{
	"armorId": 1,
	"armorName": "A/KT Mountaineer Armor",
	"defense": 1,
	"soak": 1,
	"price": 1800,
	"encum": 3,
	"hp": 2,
	"rarity": 6,
	"bookIndex": "EtU:45",
	"restricted": 0
}
-->
<script>
    $(document).ready(function () {

            $('#myTable').tablesorter();
        }
    );

</script>