<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      class="ng-app" ng-app="empire" manifest="manifest.appcache"
      xmlns="http://www.w3.org/1999/xhtml">
<headers>
    <frame-options
            policy="SAMEORIGIN"/>
</headers>
<head>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
    <frame-options policy="SAMEORIGIN"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <title>Empire Legends</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description"
          content="The Force must be with you to survive at the edge of the Empire. But having a powerful app is also a good way to do it! Empire Legends lets you manage all your characters for the game Edge of the Empire. "/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="application-name" content="Empire Legends"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <!--    <meta name="msapplication-TileImage" content="gfx/apps/Chrome/128.png"/>    -->
    <link rel="shortcut icon" type="image/png" href="public/gfx/favicon.ico"/>
    <link rel="stylesheet" href="public/style/all.min.css"/>

    <style>
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="row">
        <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

        <div class="col-md-6"><a class="btn btn-default" href="/character.html" role="button">Create Characters</a>
        </div>
        <div class="col-md-6"><a class="btn btn-default" href="/player/choose.html" role="button">Join a Session</a>
        </div>
    </div>
</div>

</body>
<script>$.ajax()</script>
</html>