<!DOCTYPE html>
<html class="ng-app" ng-app="empire" manifest="manifest.appcache" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<headers>
    <frame-options
            policy="SAMEORIGIN" />
</headers>
<head>

        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/main.css" rel="stylesheet"/>
        <frame-options policy="SAMEORIGIN"/>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <title>Empire Legends</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description"
              content="The Force must be with you to survive at the edge of the Empire. But having a powerful app is also a good way to do it! Empire Legends lets you manage all your characters for the game Edge of the Empire. "/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="application-name" content="Empire Legends"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <!--    <meta name="msapplication-TileImage" content="gfx/apps/Chrome/128.png"/>    -->
        <link rel="shortcut icon" type="image/png" href="public/gfx/favicon.ico"/>
        <link rel="stylesheet" href="public/style/all.min.css"/>

    <style>
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }
    </style>

</head>
<body>
<div class ="container">
    <div class="row">
<h3 id="user" hidden="true" th:inline="text">[[${#httpServletRequest.remoteUser}]]</h3>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
        <div class="col-md-6"><a class="btn btn-default" href="/map" role="button">MAP</a></div>
        <div class="col-md-6"><a class="btn btn-default" href="/registration" role="button">Register</a></div>
        <div class="col-md-6"><a class="btn btn-default" href="/login" role="button">LOGIN</a></div>
        <div class="col-md-6"><a class="btn btn-default" href="/player/character.html" role="button">Create Characters</a> </div>
        <div class="col-md-6"><a class="btn btn-default" href="/player/choose.html" role="button">Join a Session</a> </div>
        <div class="col-md-6"><a class="btn btn-default" href="/gm/armors" role="button">ARMOR</a></div>
        <div class="col-md-6"><a class="btn btn-default" href="/gm/gear" role="button">GEAR</a></div>
        <div class="col-md-6"><a class="btn btn-default" href="/weapon/weapons" role="button">WEAPONS</a></div>
        <div class="col-md-6"><a class="btn btn-default" href="/book/books" role="button">BOOKS</a></div>
        <div class="col-md-6"><a class="btn btn-default" href="/gm/player" role="button">BOOKS</a></div>
    </div>
</div>
</body>
<script>var user = $('#user').html(); console.log(user)</script>

</html>